body{
    background-image: url(images/723290.jpg), linear-gradient(#9381ff, #d7e3fc);
    height: 100vh;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#outside_container{
    background-image: linear-gradient(45deg, #5e548e, #560bad);
    width: 500px;
    padding: 2em 2em 1em;
    margin-bottom: 35px;
    aspect-ratio: 1;
    border-radius: 5px;
    box-sizing:border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h1{
    font-weight: bold;
    text-align: center;
    color:white;
    font-family: roboto;
}
.check_container{
    display: none;
}
.game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 120px);
    gap: 1em;
    perspective: 600px;
}

.btn{
    display: block;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: #b45eee;
    width: 90%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    border: 2px solid black;
    transition: all .1s ease;
}
.btn:hover{
    scale: 1.1;
    transition: all .1s ease;
}
.footer{
    background-color: #ccc;
    display: flex;
    position: absolute;
    bottom: 10px;
    padding: 15px;
}

.card{
    border-radius: 5px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
.face{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 1px 2px 1px;
    background-size:cover;
    transition: all .4s ease-in;
}
.card_front{
    transform: rotateY(180deg);
}
.card_back{
    background-image: url(images/Pokebola.png);
}

.reveal_card{
    transform: rotateY(180deg);
}

.disabled_card{
    filter:grayscale();
    opacity: 0.5;
}